h1 {
  text-align: center;
  color: cornflowerblue;
}

/* .content {
  min-height: calc(100vh - 70px);
}

.footer {
  height: 50px;
  background: purple;
} */

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

footer,
.footer {
  padding: 2px 10px;
  color: white;
  background: purple;
  flex-shrink: 0;
}